@tailwind base;
@tailwind components;
@tailwind utilities;


:root{
    --bg:white;
    --text:black;
    --btnTxt: white;
}

.light{
    --bg: white;
    --text: black;
    --btnTxt: white;
}

.dark{
    --bg: #0F172A;
    --text: white;
    --btnTxt: #0EA5E9;
}